{% extends 'base.html' %}

{% block title %}Editor{% endblock %}
{% block editor_active %}active{% endblock %}
{% block additional_styles %}
    <link rel="stylesheet" href="/static/style-editor.css">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Edit Snippet</h1>
        <form method="POST" action="/edit/{{ snippet.id }}">
            <!-- Form edit snippet. -->
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" name="title" class="form-control" value="{{ snippet.title }}" required>
            </div>
            <div class="form-group">
                <label for="description">Short Description:</label>
                <input type="text" name="description" class="form-control" value="{{ snippet.description }}">
            </div>
            <div class="form-group">
                <label for="language">Language:</label>
                <input type="text" name="language" class="form-control" value="{{ snippet.language }}" required>
            </div>
            <div class="form-group">
                <label for="code">Snippet Code:</label>
                <textarea name="code" rows="5" class="form-control" required>{{ snippet.code }}</textarea>
            </div>
            <div class="form-group">
                <label for="documentation">Snippet Documentation:</label>
                <textarea name="documentation" rows="5" class="form-control">{{ snippet.documentation }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update Snippet</button>
        </form>
    </div>
{% endblock %}