<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style-register.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST" action="/register">
        <h3>Register Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" required>

        <label for="email">Email</label>
        <input type="email" placeholder="Email" name="email" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" required>

        <label for="confirm_password">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" name="confirm_password" required>

        <div class="button-container">
            <button>Register</button>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </form>
    <!-- Notification element -->
    <div class="notification" id="notification">
        Username or email is already in use.
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const urlParams = new URLSearchParams(window.location.search);
                function hideNotification() {
                const notification = document.getElementById("notification");
                notification.style.display = "none";
            }
    
            if (urlParams.has("message")) {
                const message = urlParams.get("message");
                if (message === "duplicate") {
                    const notification = document.getElementById("notification");
                    notification.style.display = "block";
                    setTimeout(hideNotification, 5000);
                }
            }
        });
    </script>    
</body>
</html>
