{% extends 'base.html' %}

{% block title %}Snippets{% endblock %}
{% block snippets_active %}active{% endblock %}
{% block additional_styles %}
    <link rel="stylesheet" href="/static/style-snippets.css">
{% endblock %}

{% block content %}
    <center>
        <h1>Snippets</h1>
    </center>
    <!-- Snippets -->
        <div class="row">
            {% for snippet in snippets %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ snippet.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ snippet.description }}</h6>
                            <p class="card-text">{{ snippet.language }}</p>
                            <pre><code>{{ snippet.code }}</code></pre>
                            <p class="card-text">{{ snippet.documentation }}</p>
                            <div class="buttton">
                                <a href="#" class="btn btn-dark btn-copy" data-code="{{ snippet.code }}">Copy</a>
                                <a href="/edit/{{ snippet.id }}" class="btn btn-dark">Edit</a>
                                <a href="/delete/{{ snippet.id }}" class="btn btn-danger">Delete</a>
                                <a href="#" class="btn btn-success btn-share" data-id="{{ snippet.id }}">Share</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    <!-- copy code ke clipboard -->
    <script>
        document.querySelectorAll('.btn-copy').forEach(function (button) {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                var code = e.target.getAttribute('data-code');
                var textArea = document.createElement('textarea');
                textArea.value = code;
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand('copy');
                document.body.removeChild(textArea);
                alert('Code copied to clipboard');
            });
        });

        document.querySelectorAll('.btn-share').forEach(function (button) {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                var snippetId = e.target.getAttribute('data-id');
                
                // Make an AJAX request to generate a share link
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var shareLink = xhr.responseText;
                        // Display the share link in a popup
                        alert('Share this link:\n' + shareLink);
                    }
                };
                xhr.open('GET', '/generate_share_link/' + snippetId, true);
                xhr.send();
            });
        });
    </script>
{% endblock %}